<?xml version="1.0"?>
<launch>
	<param name="robot_description" textfile="$(find emc_simulator)/urdf/rosbot.urdf"/>
	<rosparam command="load" file="$(find emc_simulator)/config/simbot_config.yaml" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<node pkg="emc_simulator" type="pico_simulator" name="simulator"/>
</launch>
